# Discord Bot OAuth2 Configurations
client_id="YOUR_DISCORD_BOT_ID"
client_secret="YOUR_DISCORD_BOT_SECRET"
callback="http://localhost:8000/api/auth/callback"

# MongoDB Database Settings
mongo_uri="mongodb://localhost:27017"
mongo_db="your_database_name"
mongo_collection="your_collection_name"

# Pterodactyl Panel Settings
panel_url="https://your-panel-url.com"
panel_key="ptla_your_admin_api_key_here"
nest_id=7
location_ids=[2]
PORT_RANGE=[]

# System Logs & Notifications
discord_webhook="https://discord.com/api/webhooks/..."