# Discord Bot OAuth2 Secret
client_secret="YOUR_DISCORD_BOT_SECRET"

# MongoDB Database Settings
mongo_uri="mongodb://localhost:27017"

# Pterodactyl Panel Key
panel_key="ptla_your_admin_api_key_here"

# System Logs & Notifications (Discord Webhook)
discord_webhook="https://discord.com/api/webhooks/..."