<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-i18n="title"></title>
    <link rel="stylesheet" href="/static/style/{{ theme }}/index.css">
</head>
<body>

    <div class="bg-glow"></div>

    <div class="login-card">
        <div class="beautiful-select-wrapper">
            <select id="language-switcher" onchange="changeLanguage(this.value)">
                <option value="en">English</option>
                <option value="zh-TW">繁體中文</option>
            </select>
        </div>

        <h2>PyPterodash</h2>
        <p data-i18n="welcome"></p>
        
        <button class="discord-btn" id="loginBtn">
            <span data-i18n="login_btn"></span>
        </button>
    </div>

    <script src="/static/script/script.js"></script>
</body>
</html>